h1 {
    background-color: gray;
    display: inline-block;
    width:400px;
    height: 100px;
    text-align: center;
    margin: 50px;
}   
h4 {
    margin-left: 100px;
    color: gray;
}
div {
    display: inline;
}
input {
    margin: 50px;
    display: inline-block;
}
p {
    margin-left: 50px;
}
.hide {
    display: none;
}